<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    
    <div class="navbar">
        <p>
            <a href="home" class="a">ToDo<span>App</span></a>
        </p>
    </div>

    <div class="card">

        <div class="form">

            <h3>Welcome back</h3>
            <h1>{{name.username}}</h1>
            <a href="addtask">
                <button class="button1">
                    Add new Task
                </button>
            </a>

            <a href="viewtask">
                <button class="button2">
                    View Tasks
                </button>
            </a>

        </div>

    </div>

</body>